<div class="col-md-6">
    <h1>{{ advertisement.title }}</h1>
    <h1>{{ advertisement.price }}</h1>
    <p>{{ advertisement.description }}</p>
    <p>{{ advertisement.contactName }}</p>
    <p>{{ advertisement.contactPhone }}</p>
    <p>{{ advertisement.contactEmail }}</p>
    <div *ngFor="let i of advertisement.imagePaths">
        <img style="max-height: 350px" class="img-responsive" [src]="i" alt="">    
    </div>
</div>
<div class="col-md-6">
    <p>Latitude: {{ advertisement.location.latitude }}</p>
    <p>Longitude: {{ advertisement.location.longitude }}</p>
</div>
