<div class="col-md-8">
    <div *ngFor="let a of advertisements">
        <a [routerLink]="['/',  a.id]">

            <div class="media">
                <div class="media-left">
                    <a>
                        <img class="media-object" [src]="a.imagePaths[0]" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading col-xs-6" style="padding-left: 0px">{{ a.title }}</h4>
                    <h4 class="media-heading col-xs-6 pull-right" style="text-align: right">{{ a.contactPhone }}</h4>
                    <p>{{ a.description }}</p>
                    <p>{{ a.price | currency:'GBP':true:'1.0-0' }}</p>
                </div>
            </div>
        </a>
    </div>
</div>