<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <button class="btn btn-info btn-lg btn-block" type="button" (click)="onPopulateForm()">Populate with sample data</button>                    
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="row">
                    <div class="col-md-6">
                        <div 
                            id="ad-info"
                            ngModelGroup="adInfo"
                            #adInfo="ngModelGroup"
                        >
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" id="title" class="form-control" ngModel name="title">
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea type="textarea" rows="6" id="description" class="form-control" ngModel name="description"></textarea>
                            </div>
                            <!-- <div class="form-group">
                                <label for="category">Category</label>
                                <select id="category" class="form-control" ngModel name="category" (change)="onCategoryChange(category)" #category>
                                    <option value=""></option>
                                    <option *ngFor="let c of categories" value="c.name">{{ c.name }}</option>
                                </select>
                            </div> -->
                            <div class="form-group">
                                <label for="price">Price</label>
                                <div class="input-group">
                                    <span class="input-group-addon">£</span>
                                    <input type="text" id="price" class="form-control" ngModel name="price">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="imagePath">Image Link</label>
                                <input type="text" id="imagePath" class="form-control" ngModel name="imagePath">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div 
                            id="contact-info"
                            ngModelGroup="contactInfo"
                            #contactInfo="ngModelGroup"
                        >
                            <div class="well">
                                <h3>Contact Details</h3>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" class="form-control" ngModel name="name">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="text" id="phone" class="form-control" ngModel name="phone">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" class="form-control" ngModel name="email">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="text-align: center">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>